html, body {
    height: 100%;
}

body{
    font-family: "adriane", Georgia, serif;
    color: #292b2c !important;
}

.wrapper {
    height: auto !important;
    margin: 0 auto -90px;
    min-height: 100%;
}

footer {
    height: 90px;
    background-color: #f7f7f7;
    text-align: center;
    position: relative;
    font-family: 'Nunito', sans-serif;
    color: rgb(153, 153, 153);
}

footer .container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 150px;
}

a {
	  color: rgb(113, 113, 113)!important;
}

h1, h2, h3, h4 {
   margin-bottom: 30px !important;
}

.profession {
	  font-size: 14px;
}

.nav-link:hover {
	  color: #999 !important;
}

.nav-item:hover {
	  padding-bottom: 0.8rem;
    border-bottom: 0.2rem solid #31cec4;
}	

.nav-item.active {
    background-color: #31cec4;
} 

.navbar {
	  padding: 0 150px !important;
    background-color: #fff;
}

.navbar-brand, .nav-item {
	  padding-top: 1rem;
	  padding-bottom: 1rem;
}

.navbar-toggler {
    padding: 0.75rem;

}

.bar {
    width: 28px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

@media screen and (max-width: 992px) {
  .navbar {
	    padding: 6px 16px !important;
	    background-color: #ddd;
  }

  .navbar-brand {
  	  font-size: 1rem;
  }

  .profession {
	    font-size: 0.75rem;
  }
}
