html, body {
    height: 100%;
}

body{
    font-family: "adriane", Georgia, serif;
    color: #313131 !important;
}

.wrapper {
    height: auto !important;
    margin: 0 auto -90px;
    min-height: 100%;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 50px 150px 150px;
}    

footer {
    height: 90px;
    background-color: #f7f7f7;
    text-align: center;
    position: relative;
    font-family: 'Nunito', sans-serif;
    color: rgb(153, 153, 153);
}

footer .container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 150px;
}

a {
	  color: rgb(113, 113, 113)!important;
}

h1, h2, h3, h4 {
   margin-bottom: 30px !important;
   /*font-family: 'Nunito', sans-serif;*/
}

.profession {
	  font-size: 14px;
}

.nav-item:hover {
	  padding-bottom: 0.8rem;
    border-bottom: 0.2rem solid #31cec4a3;
}	

.nav-item.active {
    background-color: #31cec4a3;
} 

.navbar {
	  padding: 0 150px !important;
    background-color: #fff;
}

.navbar-brand, .nav-item {
	  padding-top: 1rem;
	  padding-bottom: 1rem;
}

.navbar-toggler {
    padding: 0.75rem;

}

.bar {
    width: 28px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

@media screen and (max-width: 992px) {
  .navbar {
	    padding: 0px !important;
	    background-color: #ddd;
  }

  .nav-item.active {
      background-color: #b3b3b3;
  }     

  .nav-item:hover {
      background-color: #b7b7b7;
      padding-bottom: 1rem;
      border-bottom: none;
  } 

  .navbar-nav li a {
      margin: 0 16px;
  }

  .navbar-brand {
  	  font-size: 1rem;
      margin-left: 1rem;
  }

  .profession {
	    font-size: 0.75rem;
  }
}
