main {
    display: flex;
    justify-content: space-around;
    padding: 50px 150px 150px;
}

main aside {
    width: 30%;
    margin: 30px 50px;
}

main aside img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}


main article {
    width: 45%;
    margin: 30px 50px;
    font-family: Georgia,serif;
}

@media screen and (max-width: 1224px) {
  main aside {
      width: 40%;
      margin: 30px;
  }    

  main article {
      width: 55%;
      margin: 30px;
  }
}

@media screen and (max-width: 992px) {
  main {
      flex-direction: column;
      justify-content: space-around;
      padding: 50px 40px 80px;
  }

  main aside {
      width: 45%;
      margin: 30px auto 20px;
  }


  main article {
      width: 100%;
      margin: 30px auto;
  }
}

@media screen and (max-width: 480px) {
  main aside {
      width: 70%;
  } 
}  
